
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #f7f7f9;
}

.navbar {
  background-color: #fff;
  height: 92px;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.nav_items {
  display: none;
}

.logo {
  font-size: 18px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  color: #6070ff;
  text-decoration: none;
  width: 100px;
  height: 24px;
}

.logo-trans {
  animation: l-trans 1s linear 2s;
}

@keyframes l-trans {
  0% {
    transform: scale(1.5);
    transform: rotate(180deg);
  }

  100% {
    transform: scale(2);
    transform: rotate(360deg);
  }
}

.menu-icon {
  width: 24px;
  height: auto;
}

.hamburger {
  z-index: 100;
  top: 1rem;
  right: 1rem;
  padding: 0;
  border: #fff;
  cursor: pointer;
  color: #6070ff;
}

.close-icon {
  display: none;
  color: #fff;
}

.menu {
  position: fixed;
  transform: translateY(-100%);
  transition: transform 0.2s;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  opacity: 0.967;
  color: white;
  list-style: none;
  padding-top: 4rem;
  padding-left: 2rem;
  gap: 12px;
}

.showMenu {
  transform: translateY(0);
  background-color: #396df2e5;
  backdrop-filter: blur(5px);
}

.menu-item {
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 50px;
  display: flex;
  align-items: center;
  color: #fff;
  text-decoration: none;
}

.header-section {
  background-image: url(./images/bg-image.png);
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 120px 24px;
  gap: 12px;
  border-bottom-left-radius: 60px;
  background-color: #fff;
}

.image1 {
  width: 100%;
}

.image2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header-title {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  width: 327px;
  margin-top: -50px;
  color: #172b4d;
}

.header-paragraph {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  width: 327px;
  color: #344563;
  margin: 15px 0;
}

.header-ref {
  height: 24px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  text-decoration: none;
}

.inner {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  width: 170.17px;
  height: 20px;
}

.image-social {
  width: 20px;
  height: 20px;
}

ul li {
  list-style-type: none;
}

.all-cards {
  display: grid;
  padding: 25px 0;
}

.my-design {
  background-color: #fff;
  margin-top: 114px;
  margin-bottom: 24px;
  margin-right: 24px;
  margin-left: 24px;
  border-radius: 20px;
  min-width: 327px;
  min-height: 552px;
  border: 1px solid #dfe1e6;
  display: flex;
  overflow: hidden;
  padding: 25px;
}

.design-outer {
  padding: 16px;
}

.card-title {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  margin-top: 12px;
  margin-bottom: 20px;
  width: 295px;
  height: 36px;
}

.card-info {
  display: flex;
  margin-top: 47px;
  margin-bottom: 20px;
}

.card-info-item-canopy {
  height: 16px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 13px;
  color: #344563;
  margin-right: 12px;
}

.card-info-item {
  height: 16px;
  font-weight: 600;
  font-size: 13px;
  color: #7a869a;
  margin-right: 12px;
}

.circle-img {
  width: 10px;
  height: 10px;
  align-items: center;
  margin-top: 5px;
  margin-right: 12px;
}

.card-description {
  width: 295px;
  height: 76px;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  margin-top: 20px;
  padding-bottom: 100px;
}

.card-list {
  display: flex;
  gap: 12px;
  list-style-type: none;
  margin: 0 0 22px 0;
}

.card-list-tags {
  color: #6070ff;
  width: max-content;
  background: #ebebff;
  border-radius: 8px;
  text-align: center;
  padding: 4px 12px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
}

.card-list-tags-css {
  color: #6070ff;
  width: 53px;
  height: 24px;
  background: #ebebff;
  border-radius: 8px;
  text-align: center;
  padding: 4px 12px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  margin-top: 12px;
  margin-right: 8px;
}

.card-list-tags-js {
  color: #6070ff;
  width: 89px;
  height: 24px;
  background: #ebebff;
  border-radius: 8px;
  text-align: center;
  padding: 4px 12px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  margin-top: 12px;
  margin-bottom: 24px;
}

.card-link {
  align-items: center;
  text-decoration: none;
  gap: 10px;
  width: 124px;
  height: 48px;
  border: 1px solid #396df2;
  border-radius: 8px;
  margin-bottom: 28px;
  padding: 12px;
}

.card-link:active {
  padding: 12px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  text-decoration: none;
}

.card-link:hover {
  padding: 12px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  text-decoration: none;
  background-color: #6070ff;
}

.second-design {
  background-color: #fff;
  margin-top: 104px;
  margin-bottom: 24px;
  margin-right: 24px;
  margin-left: 24px;
  border-radius: 20px;
  width: 327px;
  height: 552px;
  border: 1px solid #dfe1e6;
  display: flex;
}

.third-design {
  background-color: #fff;
  margin-top: 104px;
  margin-bottom: 24px;
  margin-right: 24px;
  margin-left: 24px;
  border-radius: 20px;
  width: 327px;
  height: 552px;
  border: 1px solid #dfe1e6;
  display: flex;
}

.fourth-design {
  background-color: #fff;
  margin-top: 104px;
  margin-bottom: 24px;
  margin-right: 24px;
  margin-left: 24px;
  border-radius: 20px;
  width: 327px;
  height: 552px;
  border: 1px solid #dfe1e6;
  display: flex;
}

.top-section {
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 120px 24px;
  gap: 12px;
  border-top-right-radius: 60px;
  background-color: #fff;
}

.top-title {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  width: 327px;
  margin-top: -50px;
  color: #172b4d;
}

.class-outer {
  display: flex;
  justify-content: space-between;
  height: 20%;
}

.list-wrapper {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  gap: 12px;
  margin-top: 15px;
}

.btn-container {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
  transition: all 1s linear;
}

.ctb-btn {
  padding: 12px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  text-decoration: none;
}

.ctb-btn:active {
  padding: 12px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  text-decoration: none;
}

.ctb-btn:hover {
  padding: 12px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  text-decoration: none;
  background-color: aqua;
}

.lang-title {
  margin-top: 40px;
  margin-bottom: 36px;
  color: #000;
  height: 24px;
  padding-left: 12px;
  padding-right: 78px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.about-me-list-item {
  list-style: none;
  align-content: center;
  padding: 40px;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  height: 24px;
  display: flex;
  align-items: center;
  color: #253858;
  width: 327px;
  background: #f7f7f9;
  border-radius: 8px;
  margin-bottom: 12px;
}

.js-image {
  margin-left: -22px;
  margin-right: 16px;
  width: 48px;
  height: 48px;
  left: 12px;
  border: 1px solid #fff;
}

.techies {
  margin-top: 36px;
  padding-left: 12px;
  display: flex;
}

.techies-title {
  margin-bottom: 23px;
  color: #000;
  height: 24px;
  padding-left: 12px;
  padding-right: 78px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  width: 50px;
}

.skills-techies {
  padding-left: 12px;
  display: flex;
  justify-content: space-between;
}

.skills-title {
  margin-top: -15px;
  margin-bottom: 23px;
  color: #000;
  height: 24px;
  padding-left: 12px;
  padding-right: 78px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.forward-arrow {
  width: 24px;
  height: 20px;
  margin-left: 170px;
}

.hr {
  background: #dfe1e6;
  height: 2px;
  width: 100%;
}

.contact-section {
  width: 375px;
  height: 779px;
  background: #fff;
}

.contact-me {
  display: flex;
  flex-direction: column;
  background: #6070ff;
  width: 375px;
  align-self: flex-end;
  height: 779px;
  border-top-left-radius: 60px;
  background-image: url(./images/contact-me.png);
  background-repeat: no-repeat;
  background-size: 260px 700px;
  background-position: right;
}

.con-title {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #fff;
  margin-top: 103px;
  margin-bottom: 12px;
}

.con-paragraph {
  width: 327px;
  height: 102px;
  padding-left: 24px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #ebebff;
}

.con-form {
  margin-top: 87px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-text,
.form-text-area {
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  margin: 0 24px 0 24px;
  padding-left: 16px;
}

.form-text {
  height: 48px;
}

.form-text-area {
  height: 170px;
  padding-top: 15px;
}

.con-but {
  padding: 12px 16px;
  width: 140px;
  height: 48px;
  margin-left: 25px;
  background: #fff;
  border-radius: 8px;
  border: 1px solid #fff;
  list-style-type: none;
}

.con-but:hover {
  background: #9ba4f0;
  color: white;
  box-shadow: 8px 16px rgba(64, 83, 252, 0.24);
}

.con-but:active {
  background: #2230d2;
  color: white;
}

#submit {
  width: 108px;
  height: 24px;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #6070ff;
  background: #fff;
  border: none;
}

#submit:hover {
  color: #fff;
  background-color: #9ba4f0;
}

#submit:active {
  color: #fff;
}

.popup-section {
  display: none;
  background: rgb(193, 199, 208, 0.6);
  backdrop-filter: blur(7px);
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 10;
  position: fixed;
  height: 90vh;
}

.popup {
  margin: 50px 10px;
  flex-shrink: 1;
  gap: 60px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  background: #fff;
  border-radius: 20px;
  border: 1px solid #dfe1e6;
  padding: 16px;
  z-index: 10;
  position: fixed;
  height: 90vh;
  top: 0;
  overflow: auto;
}

.popup-header {
  display: flex;
  justify-content: space-between;
}

.popup-header-image {
  width: 12px;
  height: 12px;
}

.popup-img1 {
  display: none;
}

.popup-text {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.popup-body {
  width: 100%;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  color: #344563;
}

.desk-hidden,
.popup-lang {
  display: none;
}

.popup-langs {
  display: flex;
  flex-direction: column;
}

.langs {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 10px;
  width: 253px;
  list-style: none;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.langs li {
  background: #ebebff;
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  padding: 4px 12px;
}

.pop-button-div {
  display: flex;
  gap: 15px;
}

.pop-button {
  display: flex;
  gap: 10px;
  font-size: 15px;
  padding: 10px 25px;
}

.pop-button img {
  width: 18px;
  height: 18px;
  margin: auto 0;
}

.see-project {
  padding: 12px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  background-color: white;
  margin: 20px 0;
  font-weight: 500;
  text-decoration: none;
  color: #396df2;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-size: 17px;
  line-height: 24px;
  cursor: pointer;
}

.er-msg {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 28px;
  color: red;
  display: none;
}

@media screen and (max-width: 480px) {
  .first-work-one {
    max-width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .header {
    padding: 0 50px;
    background-color: white;
  }

  .header-flex {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 10% 0 22%;
  }

  .hamburger {
    display: none;
  }

  .nav_items {
    display: flex;
    align-self: center;
    justify-self: center;
    flex-direction: row;
    gap: 30px;
    margin: 12px 100px;
  }

  .nav_item_1 {
    text-decoration: none;
    color: #344563;
    font-weight: 500;
    line-height: 20px;
  }

  .menu {
    display: none;
  }

  .header-section {
    width: 100%;
    background-image: url(./images/Header-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    padding: 200px;
    justify-content: center;
  }

  .header-container {
    align-self: center;
    justify-self: center;
    width: 920px;
  }

  .header-title {
    width: 329px;
  }

  .header-paragraph {
    width: 100%;
  }

  .all-cards {
    padding: 0 50px;
  }

  .my-design {
    width: 70%;
    margin: auto;
    margin: 110px 13px 0 255px;
    height: initial;
    min-height: 550px;
    color: #fff;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
  }

  .card-image:hover {
    transform: scale(1.5);
  }

  .my-design:nth-child(even) .card-image {
    order: 2;
  }

  .card-content {
    margin-left: 30px;
  }

  .first-work-one {
    max-width: 100%;
  }

  .card-content:nth-child(even) .card-title {
    margin-right: 100px;
  }

  .first-card {
    display: flex;
    flex-direction: row;
  }

  .tonic {
    padding-left: 30px;
    font-size: 40px;
  }

  .card_body {
    display: flex;
    flex-direction: row;
  }

  .card-description {
    padding-bottom: 120px;
  }

  .top-section {
    background-color: white;
    border-top-right-radius: 90px;
    padding-top: 200px;
    height: 900px;
    margin-top: 130px;
  }

  .about {
    width: 440px;
    display: block;
    height: 102px;
  }

  #top-top {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 25px 215px;
    height: 924px;
    width: 1407px;
    margin-left: 104px;
    margin-right: 104px;
  }

  .top-title {
    width: 264px;
    padding-top: 60px;
  }

  .btn-container {
    padding-top: 35px;
  }

  #lang-lang {
    display: flex;
    flex-direction: row;
  }

  .about-me-list {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  .about-me-list-item {
    list-style: none;
    align-content: center;
    padding: 20px;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    height: 120px;
    display: flex;
    align-items: center;
    color: #253858;
    width: 122px;
    background: #f7f7f9;
    border-radius: 8px;
    margin-bottom: 12px;
    flex-direction: column;
  }

  .js-image {
    margin-left: 0;
  }

  .techies {
    margin-top: 36px;
    padding-left: 12px;
    width: 100%;
    list-style: none;
  }

  .techies-title {
    margin-bottom: 23px;
    color: #000;
    height: 24px;
    padding-left: 12px;
    padding-right: 78px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    width: 70%;
  }

  .contact-section {
    width: 100%;
  }

  .contact-form :hover {
    transform: translate(10px);
  }

  .contact-me {
    width: 100%;
    padding-left: 33%;
    padding-right: 33%;
  }

  .con-paragraph {
    width: 100%;
    padding-right: 45px;
  }

  .con-but {
    margin-left: 40%;
  }

  .popup-section {
    display: none;
    background: rgb(193, 199, 208, 0.6);
    backdrop-filter: blur(7px);
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 10;
    position: fixed;
    height: 100vh;
  }

  .popup {
    margin: 0 11%;
    flex-shrink: 1;
    gap: 60px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    background: #fff;
    border-radius: 20px;
    border: 1px solid #dfe1e6;
    padding: 16px;
    top: 4%;
    bottom: 4%;
    overflow: auto;
  }

  .popup-header {
    display: flex;
    justify-content: space-between;
  }

  .popup-header-image {
    width: 12px;
    height: 12px;
  }

  .popup-img1 {
    display: block;
  }

  .popup-img2 {
    display: none;
  }

  .popup-text {
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin-top: 30px;
  }

  .popup-body {
    width: 65%;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
  }

  .desk-hidden {
    display: block;
  }

  .mobile-hidden {
    display: none;
    font-size: 0.8rem;
  }

  .popup-lang {
    display: flex;
    flex-direction: column;
  }

  .popup-langs {
    display: none;
  }

  .langs {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 10px;
    width: 253px;
    height: 24px;
    list-style: none;
    flex-wrap: wrap;
    margin-bottom: 50px;
  }

  .langs li {
    background: #ebebff;
    border-radius: 8px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.03em;
    color: #6070ff;
    padding: 4px 12px;
  }

  .pop-button-div {
    display: flex;
    gap: 15px;
    width: 353px;
  }

  .pop-button {
    display: flex;
    gap: 10px;
    font-size: 15px;
    padding: 10px 25px;
    flex-wrap: wrap;
  }

  .pop-button img {
    width: 18px;
    height: 18px;
    margin: auto 0;
    flex-wrap: wrap;
  }
}
