* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins';
}

.navbar{
    background-color: #FFFFFF;
    height: 92px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.logo {
    font-size: 18px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    color: #6070FF;
    text-decoration: none;
    width: 100px;
    height: 24px;
}


